.cart-dropdown{
    position:absolute;
    width:240px;
    height:340px;
    display:flex;
    flex-direction:column;
    padding:20px;
    border: 1px solid black;
    border-radius:3px;
    background-color:white;
    top:60px;
    right:20px;
    z-index:5;





    button{
        margin-top:auto;
    }

    .footer{
      width:240px;
      position:absolute;
      bottom:50px
    }
}
