.user-account{
    margin-right:10px;
    width:24px;
    height:24px;
}

.arrow-down{
    margin-top:12px;
    margin-left:10px;
    margin-right:10px;
    width:14px;
    height:14px;
}

.user-card{
    margin-left:10px;
    margin-top:10px;
    font-size:13px;
    font-weight:bold;
}